{% extends 'base.html' %}


{% block content %}
<style>
  .root-container{
    display:grid;
    grid-template-columns:1fr 3fr;
  }
</style>

 <div class='root-container'>
   <div class="jumbotron">
     <p>browse by topic </p>
     <div>
      <p> <a href="{% url 'base' %}"> All </a></p>
       {% for topic in topics %}
        <p> <a href="{% url 'base' %}?q={{topic.name}}"> {{topic.name}} </a></p>
        {% endfor %}
     </div>

   </div>
     <div>
        <h5>{{totalroom}} rooms are total available </h5>
         <a href="{% url 'addRoom' %}">add room</a>
     
        <ul>
            {% for room in rooms %}
            
              <li>
                {% if request.user == room.host%}
                  <h5> <a href="{% url 'updateRoom' room.id %}">Edit this item</a></h5>
                  <h5> <a href="{% url 'deleteRoom' room.id %}">Delete this item</a></h5>
                 {% endif %}
                <h5>{{room.host.username}}</h5>
                <h5>{{room.topic}}</h5>
                <a href="{% url 'room' room.id %}">{{room.id}} - {{room.title}}</a>

              </li>  
             {% endfor%}

        </ul>
            
      </div>
 </div>
{% endblock content%}